<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TASK LIST</title>
    <link rel="stylesheet" href="bootstrap.css"/>
    <link rel="stylesheet" href="bootstrap-icons.css"/>
    <link rel="stylesheet" href="style.css"/>
</head>
<body class="bg-dark vh-100 py-3">
<main class="wrapper">
    <div class="card h-100 p-3 d-flex flex-column">
        <div class="card-head text-center">
            <h1>TASK LIST</h1>
        </div>
        <div class="card-body flex-grow-1 overflow-y-auto">

