<%- include('partials/top.ejs') %>

<a href="/task/all">All tasks</a>
<a href="/category">Category</a>
<a href="/priority">Priority</a>
<a href="/config">Config</a>

<%- include('partials/bottom.ejs') %>

