<%- include('partials/top.ejs') %>
<div class="d-flex flex-column gap-2 h-100 justify-content-center">
    <a class="py-4 btn btn-primary" href="/task/all">All tasks</a>
    <a class="py-4 btn btn-warning" href="/category">Category</a>
    <a class="py-4 btn btn-danger" href="/priority">Priority</a>
    <a class="py-4 btn btn-dark" href="/config">Config</a>
</div>

<%- include('partials/bottom.ejs') %>

